*
#*.*

# whitelist
!.gitignore
!bash
!keepassxc
!vscode/.config/Code/User/settings.json
!xfce4/.config/xfce4/panel
!xfce4/.config/xfce4/terminal
!xfce4/.config/xfce4/xfconf
!xfce4/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-keyboard-shortcuts.xml
!xfce4/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-panel.xml
!xfce4/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-notifyd.xml
!xfce4/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-power-manager.xml
!xfce4/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-session.xml
!xfce4/.config/xfce4/xfconf/xfce-perchannel-xml/xfwm4.xml
!xfce4/.config/xfce4/xfconf/xfce-perchannel-xml/xsettings.xml
